<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <p>Prepared by Alejandro, Christian, Dan, and Luisa</p>

  <center><img src='https://dl.dropboxusercontent.com/u/13945701/game-over-man-game-over.jpg'><br>

  (Just for you, Alejandro)</center>

</div>