<div class = "top-nav">
  <h1>Win Some, Lose Some </h1>
</div>
<div class="clintoncake">
 <img scr='http://24.media.tumblr.com/3e4038c1528045fd73a6bbcaa38216f0/tumblr_mhs569MHic1rtdqe1o1_400.gif'>

  <p>Place stats here!</p>

</div>