<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <p>Prepared by Alejandro, Christian, Dan, and Luisa</p>

  <p>Content will go here.</p>

<!-- Possibilities that will bring us here:

    New round
    Display a new card (ongoing round)
    Card/guess feedback (ongoing round)
    Game over (no more cards)

     -->
  
  <% @round.id = session[:round_id] %>

  <p></p>

</div>