<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <p>Prepared by Alejandro, Christian, Dan, and Luisa</p>

<!--
  If not logged in:
    Login
-->

<p> Please log in to play </p>

<form action =  '/users/:id' method ='post'>
  <table id="login">

<!--
    Sign up #redirect to signup.erb

  If logged in:
    -Choose Deck to start game redirect to game.erb

    -Logout
    -Show Full stats

    -Show partial stats

 -->



</div>
