<%= params.inspect %>

<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <p>Prepared by Alejandro, Christian, Dan, and Luisa</p>

<!--
  If not logged in:
    Login
-->

<% if @status %>
  <p><%= @status %>
<% end %>

<% unless session[:user_id] %>
  <p> Please log in to play </p>
  <form action ='/users' method ='post'>
    <table id="login">
    <tr>
      <td> Email:</td>
      <td><input type="text" name="username"></td>
    </tr>
      <tr>
      <td>Password:</td>
      <td><input type="password" name="password"></td></tr>
      <tr><input type ="submit" value="login">
  </form>

  <a href='/user/new'>Sign up</a>
<% else %>


<p> Choose a deck: </p>
  <form action ='/users/round/new' method ='post'>
  <select name= 'deck_id'>
  <% Deck.all.each do |deck| %>
    <option value= <%=deck.id%>><%= deck.title %> </option>
  <% end %>
<% end %>
</select>
 <input type = "submit" value = "start_round">
  </form>
    <a href='/users/logout'>Logout</a>



</div>
