
<div class="top-nav">
  <h1>Compulsive puzzling habits?</h1>
  <h2> Come play! </h2>

<!--
  If not logged in:
    Login
-->

<% if @status %>
  <p><%= @status %>
<% end %>

<% unless session[:user_id] %>
  <form style="display:inline" action ='/users' method ='post'>
    <table id="login">
    <tr>
      <td>Username:</td>
      <td><input type="text" name="username"></td>
    </tr>
      <tr>
      <td>Password:</td>
      <td><input type="password" name="password"></td></tr>
      <tr><input type ="submit" value="login">
  </form>

  <a href='/user/new'>Sign up</a>
</div>

  <div class="puzzlenerd">
<% else %>

<p> Choose a deck: </p>
  <form action ='/users/round/new' method ='post'>
  <select name= 'deck_id'>
  <% Deck.all.each do |deck| %>
    <option value= <%=deck.id%>><%= deck.title %> </option>
  <% end %>
<% end %>
</select>
 <input type = "submit" value = "start_round">
  </form>
    <a href='/users/logout'>Logout</a>
</div>


</html>
