<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <p>Prepared by Alejandro, Christian, Dan, and Luisa</p>

<!--
  If not logged in:
    Login
-->

<p> Please log in to play </p>

<form action = '/login' method ='post'>




</div>
