<div class="container">
  <h1>Welcome to Flashcards!</h1>
  <p>Prepared by Alejandro, Christian, Dan, and Luisa</p>

<!--
  If not logged in:
    Login
-->

<p> Please log in to play </p>

<form action =  '/users/:id' method ='post'>
  <table id="login">
  <tr>
    <td> Email:</td>
    <td><input type="email" name="email"></td>
  </tr>
    <tr>
    <td>Password:</td>
    <td><input type="password" name="password"></td></tr>
    <tr>
    <td>Password:</td>




</div>
